<VirtualHost *:80>
    ServerAdmin {{server_admin}}
    ServerName {{hostname}}
    TransferLog logs/{{hostname}}_access_log
    ErrorLog    logs/{{hostname}}_error_log
    RewriteEngine on
    RewriteRule ^ https://{{hostname}}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>