<IfModule mod_ssl.c>
<VirtualHost *:443>
    DocumentRoot {{basedir}}/{{project}}/live/public
    ServerAdmin {{server_admin}}
    ServerName {{hostname}}
    <Directory "{{basedir}}/{{project}}/live/public">
        AllowOverride All
    </Directory>
    ServerSignature email
    TransferLog logs/{{hostname}}_access_log
    ErrorLog    logs/{{hostname}}_error_log
    SSLCertificateFile /etc/pki/tls/certs/star.wiebekn.dev.crt
    SSLCertificateKeyFile /etc/pki/tls/private/star.wiebekn.dev.key
    LogLevel warn
    SSLEngine on
    SSLProtocol all -SSLv2 -SSLv3
    SSLCipherSuite HIGH:3DES:!aNULL:!MD5:!SEED:!IDEA
</VirtualHost>
</IfModule>